<p>Tài khoản của Quý vị trên hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải <a href="http://dichvucong.mt.gov.vn">www.dichvucong.mt.gov.vn</a> đã kích hoạt thành công.</p>
<p>Xin bạn vui lòng đăng nhập hệ thống và đổi mật khẩu trong vòng 24h tính từ thời điểm bạn nhận được email này</p>
<p><strong>Thông tin đăng nhập:</strong></p>
<p><strong>Tên đăng nhập:</strong> $username</p>
<p><strong>Mật khẩu:</strong> $password</p>
<br>
<p>Trân trọng</p>
<p>Bộ phận hỗ trợ kỹ thuật hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải</p>
<p>Điện thoại: 04 38222 979</p>
<p>Email: <a href="mailto:bophanhotro@mt.gov.vn">bophanhotro@mt.gov.vn</a></p>