<p>Tài khoản của Quý vị trên hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải <a href="http://dichvucong.mt.gov.vn">www.dichvucong.mt.gov.vn</a> đã bị tạm dừng hoạt động.</p>
<p>Xin vui lòng liên hệ với chúng tôi để được hỗ trợ</p>
<br>
<p>Trân trọng</p>
<p>Bộ phận hỗ trợ kỹ thuật hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải</p>
<p>Điện thoại: 04 38222 979</p>
<p>Email: <a href="mailto:bophanhotro@mt.gov.vn">bophanhotro@mt.gov.vn</a></p>