<p>Kính gửi $fullname</p>
<p>Tài khoản của Quý vị trên hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải đã kích hoạt thành công. Thông tin cụ thể như sau:</p>
<p>Tên đăng nhập: $username</p>
<p>Mật khẩu: $password</p>
<p>Quý vị vui lòng đăng nhập hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải tại địa chỉ: <a href="http://dichvucong.mt.gov.vn">www.dichvucong.mt.gov.vn</a> và đổi mật khẩu ngay sau lần đăng nhập thành công đầu tiên.</p>
<p>Trong vòng 24h tính từ thời điểm nhận được thông báo này, nếu Quý vị không đăng nhập vào hệ thống tài khoản của Quý vị sẽ bị khóa.</p>
<p>Quý vị vui lòng không trả lời email. Trân trọng thông báo này.</p>
<br/>
=====*=====*=====*=====*=====*=====*=====*=====*=====*====
<p>Bộ phận hỗ trợ kỹ thuật hệ thống Dịch vụ công trực tuyến - Bộ Giao thông vận tải</p>
<p>Điện thoại: 04 38222 979</p>
<p>Email: <a href="mailto:bophanhotro@mt.gov.vn">bophanhotro@mt.gov.vn</a></p>